@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  font-family: 'Montserrat', sans-serif;
} */

#next {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 
.yoopta-editor {
  margin: 0 auto;
} */

#slack .yoopta-editor .yoopta-block-actions-plus {
  display: none;
}

#slack .yoopta-editor .yoopta-mark-code {
  color: #e8912d;
  background-color: #2b2d30;
  font-variant-ligatures: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  tab-size: 4;
  border-radius: 3px;
  padding: 2px 3px 1px;
  font-size: 12px;
  line-height: 1.50001;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  border: 1px solid rgba(232, 232, 232, 0.13);
}

#slack .yoopta-editor .yoopta-code .yoopta-code-cm-editor .cm-editor {
  border: 1px solid rgb(53, 55, 59);
}

#slack .yoopta-editor .yoopta-code .cm-content {
  padding: 8px;
  line-height: 1.46668;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 25%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 25%;
    --primary: 356 99% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 163 23% 53%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 25%;
    --destructive: 356 99% 64%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 356 99% 64%;
    --chart-1: 22 70% 62%;
    --chart-2: 185 45% 50%;
    --chart-3: 39 70% 60%;
    --chart-4: 0 0% 40%;
    --chart-5: 313 45% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 93%;
    --card: 0 0% 24%;
    --card-foreground: 0 0% 93%;
    --popover: 0 0% 24%;
    --popover-foreground: 0 0% 93%;
    --primary: 356 99% 64%;
    --primary-foreground: 0 0% 93%;
    --secondary: 0 0% 29%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 29%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 35%;
    --accent-foreground: 0 0% 93%;
    --destructive: 25 80% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 356 99% 64%;
    --chart-1: 20 65% 60%;
    --chart-2: 184 50% 55%;
    --chart-3: 40 62% 60%;
    --chart-4: 0 0% 63%;
    --chart-5: 313 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* 
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
} */
