@tailwind utilities;

.yoopta-editor * {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  scrollbar-color: #d3d1cb rgba(0, 0, 0, 0);
}

::-moz-selection {
  background: #c6ddf8;
}

::selection {
  background: #c6ddf8;
}

.yoopta-placeholder {
  position: relative;
  display: contents;
}

.yoopta-placeholder::after {
  content: attr(data-placeholder);
  opacity: 0.5;
  color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  text-indent: 2px;
  font-size: 75%;
  padding-left: 5px;
  font-weight: inherit;
  font-style: inherit;
  pointer-events: none;
  cursor: text;
}

/* common */
.yoopta-button {
  @apply cursor-pointer bg-transparent border-none;
}

/* Block styles  */
.yoopta-block {
  @apply relative py-0 px-[2px] mt-[2px] mb-[1px] rounded;
}

.yoopta-selection-block {
  @apply before:pointer-events-none before:content-[''] before:absolute before:inset-0 before:z-[0] before:size-full before:rounded-[4px] before:bg-[#FFD2D5] before:transition-opacity before:duration-200 before:opacity-0;
}

.yoopta-selection-block[data-block-selected='true']::before {
  @apply bg-[#FFD2D5] opacity-100 z-10;
}

.yoopta-block-actions {
  pointer-events: none;
}

.yoopta-block-action-buttons {
  display: flex;
  pointer-events: auto;
}

.yoopta-block-actions-plus {
  @apply yoopta-button cursor-pointer rounded-[6px] h-[24px] flex items-center justify-center bg-inherit bg-transparent transition-colors duration-[180ms] relative w-[18px] p-0 text-[#37352f59] m-[0_1px] hover:bg-[#37362f14] focus:bg-[#37362f14] active:bg-[#37362f14] w-[24px] invisible;
}

/* Dark mode support for block actions */
.dark .yoopta-block-actions button {
  color: #fff !important;
}

.yoopta-block-actions-drag {
  @apply yoopta-button cursor-pointer rounded-[6px] h-[24px] flex items-center justify-center bg-inherit bg-transparent transition-colors duration-[180ms] relative w-[18px] p-0 text-[#37352f59] m-[0_1px] hover:bg-[#37362f14] focus:bg-[#37362f14] active:bg-[#37362f14];
}

/* Slate editor styles */
.yoopta-slate {
  @apply focus-visible:outline-none focus:outline-none;
}

/* Block options styles */
.yoopta-block-options-button {
  @apply yoopta-button rounded-sm hover:bg-[#37352f14] leading-[120%] px-2 py-1.5 mx-[4px] cursor-pointer w-full flex justify-start;
}

.yoopta-block-options-item {
  @apply relative flex cursor-default select-none items-center text-sm outline-none transition-colors data-[disabled]:pointer-events-none data-[disabled]:opacity-50;
}

.yoopta-extended-block-actions {
  @apply absolute right-[8px] top-[8px] flex items-center justify-between z-10 opacity-100 bg-[#eee] w-[22px] h-[22px] transition-opacity duration-150 ease-in border-none cursor-pointer rounded-[2px] p-[0_4px];
}

.yoopta-block-options-separator {
  @apply h-[1px] bg-[#37352f14] my-[4px] w-full;
}

.yoopta-block-options-menu-content {
  @apply bg-[#FFF] relative min-w-[200px] w-auto overflow-hidden rounded-md border border-solid border-[#e5e7eb] py-[6px] px-0 shadow-md ml-[3px];
}

.yoopta-block-options-group {
  @apply flex flex-col;
}

/* Aligment for elements */
.yoopta-align-left {
  @apply justify-start text-left;
}

.yoopta-align-center {
  @apply justify-center text-center;
}

.yoopta-align-right {
  @apply justify-end text-right;
}